<div class="col-md-12 p-0">
    <div class="todo-title">{{title}}</div>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of list; let i=index">
            <div [style.background-color]="item?.color" class="todo-item" (click)="edit(item, i)" cdkDrag>
                <span class="example-custom-placeholder" *cdkDragPlaceholder></span>
                {{item?.description}}
                <!-- <span (click)="edit(item, i)">Edit</span> -->
                <span class="float-right" (click)="delete(i)">
                    <img src="../../assets/Delete.svg">
                </span>
            </div>
        </div>
    </div>

    
    <ng-container *ngIf="isAddNewCard; else addNew">
        <div class="todo-edit">
            <input type="text" [(ngModel)]="descriptionInput" placeholder="Enter a description for this card...">

            <div>
                <span (click)="addCart()" class="add-card-txt">Add Card</span>
                <span (click)="cancle()" class="cancel-txt">Cancel</span>
            </div>
        </div>
    </ng-container>
    <ng-template #addNew>
        <div class="todo-add-new" (click)="addNewCard()">
            + Add new card
        </div>
    </ng-template>


</div>