<!-- Header -->
<div class="row header">
  <div class="col-md-9 app-title p-0">
    ToDo it?
  </div>
  <div class="col-md-3 text-right p-0">
    <ul class="ul-header">
      <li (click)="addTodoCreate()">
        <img src="../assets/plus-circle-outline.svg">
      </li>
      <li>
        <img src="../assets/alert-circle-outline.svg">
      </li>
      <li>
        <img src="../assets/bell-outline.svg">
      </li>
      <li>
        <img src="../assets/Oval.png">
      </li>
    </ul>
  </div>
</div>

<div class="row task-container">
  <ng-container *ngFor="let item of todoList">
    <div class="col-md-3 card-main">
    <app-todo-list [title]="item?.title" [list]="item?.list" (onEditTodo)="onEditTodo($event)"></app-todo-list>
    </div>
  </ng-container>
</div>
<!-- footer -->

<app-todo-create #todoCreate></app-todo-create>

<router-outlet></router-outlet>
